# List in Python

In Python, a list is a collection of values that are ordered and changeable. It is a very useful data type that is used in a variety of contexts, including functions. Here are some common operations and uses of lists in Python functions:

1. Creating a list: You can create a list using square brackets [] and separating the values with commas. For example,

In [1]:
my_list = [1, 2, 3]

2. Accessing elements: You can access elements of a list using square bracket notation, starting at index 0. For example,

In [2]:
my_list[0] # returns the first element of the list.

1

3. Modifying elements: You can modify elements of a list using square bracket notation as well. For example,

In [3]:
my_list[0] = 4 # would change the first element of the list to 4.

4. Appending elements: You can add elements to the end of a list using the append() method. For example,

In [4]:
my_list.append(4) # would add the value 4 to the end of the list.
my_list

[1, 2, 3, 4, 4]

5. Removing elements: You can remove elements from a list using various methods such as remove(), pop(), and del. For example,

In [5]:
my_list.remove(3)  # would remove the first occurrence of the value 3 from the list.
my_list

[1, 2, 4, 4]

6. Iterating over a list: You can iterate over the elements of a list using a for loop. For example:

In [6]:
for item in my_list:
    print(item)

1
2
4
4

7. Returning a list from a function: You can return a list from a function just like any other value. For example:

In [7]:
def get_list():
    return [1, 2, 3]

8. Passing a list to a function: You can pass a list to a function as an argument. For example:

In [7]:
def process_list(my_list):
    for item in my_list:
        print(item)

In [8]:
process_list([1,2,3])

1
2
3

Overall, lists are a very versatile and useful data type in Python that can be used in many different ways in functions.

In [9]:
# empty list
my_list = []

# list of integers
my_list = [1, 2, 3]

# list with mixed data types
my_list = [1, "Hello", 3.4]

In [15]:
# nested list
my_list = ["mouse", [8, 4, 6], ['a']]
my_list[1][1]

4

In [17]:
# List indexing

my_list = ['R', 'O', 'H', 'A', 'N']

# Output: R
print(my_list[0])

# Output: H
print(my_list[2])

# Output: N
print(my_list[4])

# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0][1])

print(n_list[1][3])

# Error! Only integer can be used for indexing
# print(my_list[4.0])

R
H
N
a
5

### Negative indexing
Python allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item and so on.

In [21]:
# Negative indexing in lists
my_list = ['p','r','o','b','e']

print(my_list[-1])

print(my_list[-5])

print(my_list[::-2])

e
p
['e', 'o', 'p']

How to slice lists in Python?
We can access a range of items in a list by using the slicing operator :(colon).

In [13]:
# List slicing in Python
my_list = ['p','r','o','g','r','a','m','i','z']

# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['p', 'r', 'o', 'g']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

In [23]:
# Concatenating and repeating lists
odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["re","ne"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 'ne', 're', 'ne', 're', 'ne']

# Python List Methods

append()Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()Adds an element at the specified position

pop()	Removes the element at the specified position

remove()Removes the first item with the specified value

reverse()Reverses the order of the list

sort()Sorts the list

In [2]:
L=[1,3,2]
L.append(4)
L

[1, 3, 2, 4]

In [3]:
L.sort()
L

[1, 2, 3, 4]

In [4]:
L.extend([1,8])
L

[1, 2, 3, 4, 1, 8]

In [5]:
L.count(3)

1

In [7]:
L=[1,2,3,"manoj"]
L

[1, 2, 3, 'manoj']

In [8]:
L.index("manoj")

3

In [9]:
L.clear()
L

[]

In [10]:
L=[1,2,3,4]
L.remove(2)
L

[1, 3, 4]

In [11]:
L=[1,2,3,4]
L.pop(2)
L

[1, 2, 4]

In [24]:
L=[1,2,3,4]
L.pop(2)
L

[1, 2, 4]

In [12]:
L=[1,2,3,4]
L

[1, 2, 3, 4]

In [13]:
L.insert(2,8)
L

[1, 2, 8, 3, 4]

In [38]:
L.insert(2,0)
L

[1, 2, 0, 3, 4]

### Membership

In [28]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# Output: True
print('p' in my_list)

# Output: False
print('a' in my_list)

# Output: True
print('c' not in my_list)

True
False
True

In [39]:
# Iterating Through a List
# Using a for loop we can iterate through each item in a list.

for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

# Tuples

A tuple is a collection of objects which **ordered** and **immutable**. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.
Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also. For example −

In [30]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";
tup3

('a', 'b', 'c', 'd')

In [31]:
tup1 = (); # The empty tuple is written as two parentheses containing nothing −
tup1 = (50,); #To write a tuple containing a single value you have to include a comma, even though there is only one value.
tup1=(60,)
tup1
type(tup1)
#Like string indices, tuple indices start at 0, and they can be sliced, concatenated, and so on.

tuple

## Accessing Values in Tuples

To access values in tuple, use the square brackets for slicing along with the index or indices to obtain value available at that index. For example −

In [14]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7)
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])
tup1[0]="Maths"

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

## Updating Tuples

Tuples are immutable which means you cannot update or change the values of tuple elements. You are able to take portions of existing tuples to create new tuples as the following example demonstrates −

In [33]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# Following action is not valid for tuples
# tup1[0] = 100;  # TypeError: 'tuple' object does not support item assignment

# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print(tup3);

tup4=[1,2]
tup5=[3,2]
tup6=tup4+tup5
print(tup6)

sum(tup4+tup5)

(12, 34.56, 'abc', 'xyz')
[1, 2, 3, 2]

8

## Delete Tuple Elements
Removing individual tuple elements is not possible. There is, of course, nothing wrong with putting together another tuple with the undesired elements discarded.

To explicitly remove an entire tuple, just use the del statement.

In [15]:
tup = ('physics', 'chemistry', 1997, 2000);
print(tup);
del tup;
print("After deleting tup : ")
print(tup);

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

## Basic Tuples Operations
Tuples respond to the + and * operators much like strings; they mean concatenation and repetition here too, except that the result is a new tuple, not a string.

In [35]:
print(len((1, 2, 3)))   # Length
print((1, 2, 3) + (4, 5, 6)) # Concatenation
print(('Hi!',"Hello") * 4) # Repetition
print(3 not in (1, 2, 3)) # Membership
for x in (1, 2, 3):  #Iteration
    print(2*x)

3
(1, 2, 3, 4, 5, 6)
('Hi!', 'Hello', 'Hi!', 'Hello', 'Hi!', 'Hello', 'Hi!', 'Hello')
False
2
4
6

## Indexing, Slicing, and Matrixes
Because tuples are sequences, indexing and slicing work the same way for tuples as they do for strings.

In [36]:
L = ('A', 'B', 'C')
print(L[0:2])
print(L[2])  # Offsets start at zero
print(L[-2]) # Count from the right
print(L[1:]) # Slicing fetches sections

('A', 'B')
C
B
('B', 'C')

## Tuple Function with Description

In [37]:
tup=(3,5,2)
print(len(tup)) # Gives the total length of the tuple.
print(max(tup)) # Returns item from the tuple with max value.
print(min(tup)) # Returns item from the tuple with min value.

seq=[1,2,3]
print(seq)
print(tuple(seq)) # Converts a list into tuple. TypeCast operator

print(int(float("3.2")))
print(list(tup))
print(tup)

3
5
2
[1, 2, 3]
(1, 2, 3)
3
[3, 5, 2]
(3, 5, 2)

In [38]:
import pandas as pd
List=["Lists are mutable",
      "Implication of iterations is Time-consuming",
      "The list is better for performing operations, such as insertion and deletion.",
      "Lists consume more memory", 
      "Lists have several built-in methods"]
Tuples=["Tuples are immutable", 
        "The implication of iterations is comparatively Faster", 
        "Tuple data type is appropriate for accessing the elements", 
        "Tuple consume less memory as compared to the list", 
        "Tuple does not have many built-in methods."]
pd.DataFrame({"List":List,"Tuples":Tuples})

,List,Tuples
0,Lists are mutable,Tuples are immutable
1,Implication of iterations is Time-consuming,The implication of iterations is comparatively...
2,"The list is better for performing operations, ...",Tuple data type is appropriate for accessing t...
3,Lists consume more memory,Tuple consume less memory as compared to the list
4,Lists have several built-in methods,Tuple does not have many built-in methods.

Each key is separated from its value by a colon (:), the items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this: {}.
Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples.

In [17]:
type(list((1,2,3)))

list

## Accessing Values in Dictionary

In [39]:
dict = {'Age': 7, 'Class': 'First','Name': 'Zara'}
print(dict)
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])
dict["Name"]

{'Age': 7, 'Class': 'First', 'Name': 'Zara'}
dict['Name']:  Zara
dict['Age']:  7

'Zara'

## Updating Dictionary
You can update a dictionary by adding a new entry or a key-value pair, modifying an existing entry, or deleting an existing entry

In [40]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry

print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

Delete Dictionary Elements
You can either remove individual dictionary elements or clear the entire contents of a dictionary. You can also delete entire dictionary in a single operation.

In [41]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name']; # remove entry with key 'Name'
dict.clear();     # remove all entries in dict
del dict ;        # delete entire dictionary

print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

dict['Age']:  dict['Age']
dict['School']:  dict['School']

Properties of Dictionary Keys

(a) More than one entry per key not allowed. Which means no duplicate key is allowed. When duplicate keys encountered during assignment, the last assignment wins.

In [42]:
dict = {'Name': 'Zara', 
        'Age': 7, 
        'Name': 'Manni'}
print("dict['Name']: ", dict['Name'])

dict['Name']:  Manni

(b) Keys must be immutable. Which means you can use strings, numbers or tuples as dictionary keys but something like ['key'] is not allowed.

In [44]:
dict1 = {['Name']: 'Zara', 
         'Age': 7}
print("dict['Name']: ", dict['Name'])

TypeError: unhashable type: 'list'

## Dictionary Functions

In [45]:
dict1 = {'Name': 'Zara', 'Age': 7}
print(len(dict1)) #Gives the total length of the dictionary. This would be equal to the number of items in the dictionary.
print(str(dict1)) #Produces a printable string representation of a dictionary
print(type(dict1)) #Returns the type of the passed variable. If passed variable is dictionary, then it would return a dictionary type.

2
{'Name': 'Zara', 'Age': 7}
<class 'dict'>

## Dictionary Methods

In [46]:
dict1.clear() #Removes all elements of dictionary dict
dict1.copy() #Returns a shallow copy of dictionary dict
# dict1.fromkeys() # Create a new dictionary with keys from seq and values set to value.
#dict1.get(key, default=None)# For key key, returns value or default if key not in dictionary
#dict1.has_key(key)#Returns true if key in dictionary dict, false otherwise
#dict1.items()#Returns a list of dict's (key, value) tuple pairs
#dict1.keys()#Returns list of dictionary dict's keys
#dict1.setdefault(key, default=None)# Similar to get(), but will set dict[key]=default if key is not already in dict
#dict1.update(dict2)# Adds dictionary dict2's key-values pairs to dict
#dict1.values()# Returns list of dictionary dict's values

{}

# Assignment Questions

## Lists:

- What is a list in Python? How is it different from other data types in Python?

- How do you create a list in Python? Provide an example.

- What are some common list operations in Python? Provide examples.

- What is list slicing? How is it useful?

- What is a list comprehension? How do you create a list comprehension in Python?

## Tuples:


- What is a tuple in Python? How is it different from a list?

- How do you create a tuple in Python? Provide an example.

- What are some common tuple operations in Python? Provide examples.

- What is tuple unpacking? How is it useful?

- Can you modify a tuple in Python? Why or why not?


## Dictionaries:


- What is a dictionary in Python? How is it different from other data types in Python?

- How do you create a dictionary in Python? Provide an example.

- What are some common dictionary operations in Python? Provide examples.

- How do you access and modify values in a dictionary? Provide examples.

- What is a dictionary comprehension? How do you create a dictionary comprehension in Python?

# Practical Assignment

## Lists:

- Write a Python program that accepts a list of integers as input and returns the sum of all the even numbers in the list.

- Write a Python program that accepts a list of strings as input and returns a new list that contains only the strings that start with the letter "a".

- Write a Python program that accepts two lists of integers as input and returns a new list that contains only the common elements between the two lists.

- Write a Python program that accepts a list of strings as input and returns a new list that contains the same strings in alphabetical order.
- Write a Python program that accepts a list of integers as input and returns a new list that contains only the unique elements of the input list (i.e., no duplicates).

## Tuples:


- Write a Python program that accepts a tuple of integers as input and returns the sum of all the even numbers in the tuple.

- Write a Python program that accepts two tuples of integers as input and returns a new tuple that contains only the common elements between the two tuples.

- Write a Python program that accepts a tuple of strings as input and returns a new tuple that contains only the strings that start with the letter "a".

- Write a Python program that accepts a tuple of integers as input and returns a new tuple that contains the same integers in descending order.

- Write a Python program that accepts a tuple of integers as input and returns a new tuple that contains only the unique elements of the input tuple (i.e., no duplicates).

## Dictionaries:


- Write a Python program that accepts a dictionary of integers as input and returns the sum of all the values in the dictionary.

- Write a Python program that accepts two dictionaries of integers as input and returns a new dictionary that contains only the common keys and values between the two dictionaries.

- Write a Python program that accepts a dictionary of strings as input and returns a new dictionary that contains only the key-value pairs where the value is a string that starts with the letter "a".

- Write a Python program that accepts a dictionary of integers as input and returns a new dictionary that contains the same key-value pairs as the input dictionary, but with the keys and values swapped.

- Write a Python program that accepts a dictionary of integers as input and returns a new dictionary that contains only the keys and values where the value is an even number.

## Lists:

- Write a Python program that accepts a list of integers as input and returns the sum of all the even numbers in the list.

In [5]:
L=[]
n=int(input("Enter the size of the list:"))
sum0=0
print("Enter numbers:")
for i in range(0,n):
    temp=int(input(f"{i+1}:"))
    L.append(temp)
    sum0+=temp if temp%2==0 else 0

print(f"List: {L}")
print(f"Sum of the even numbers is {sum0}.")

Enter the size of the list:5
Enter numbers:
1:23
2:49
3:32
4:14
5:12
List: [23, 49, 32, 14, 12]
Sum of the even numbers is 58.

- Write a Python program that accepts a list of strings as input and returns a new list that contains only the strings that start with the letter "a".

In [7]:
L=[]
n=int(input("Enter the size of the list:"))
new_L=[]
print("Enter List elements:")
for i in range(0,n):
    temp=input(f"{i+1}:")
    L.append(temp)
    if temp[0]=="a" or temp[0]=="A":
        new_L.append(temp)

print(f"List: {L}")
print(f"New List: {new_L}")

Enter the size of the list:3
Enter List elements:
1:Anita
2:Mrunal
3:Archana
List: ['Anita', 'Mrunal', 'Archana']
New List: ['Anita', 'Archana']

- Write a Python program that accepts two lists of integers as input and returns a new list that contains only the common elements between the two lists.

In [9]:
n1=int(input("Enter the length of list 1 :"))
n2=int(input("Enter the length of list 2 :"))
L1=[]
L2=[]
newL=[]
for i in range(0,n1):
    temp=int(input(f"List 1: {i+1} :"))
    L1.append(temp)
for i in range(0,n2):
    temp=int(input(f"List 2: {i+1} :"))
    L2.append(temp)
    
for i in range(0,n1):
    for j in range(0,n2):
        temp=L1[i]
        if L1[i]==L2[j]:
            newL.append(temp)
print(newL)

Enter the length of list 1 :3
Enter the length of list 2 :3
List 1: 1 :1
List 1: 2 :2
List 1: 3 :3
List 2: 1 :4
List 2: 2 :3
List 2: 3 :2
[2, 3]

In [20]:
L1=input("First Comma separated List :")
L1=L1.split(",")
L2=input("Second Comma separated List :")
L2=L2.split(",")
L3=[]
for i in L1:
    for j in L2:
        if i==j:
            L3.append(i)
L3

First Comma separated List :1,2,3
Second Comma separated List :2,3,4,5

['2', '3']

- Write a Python program that accepts a list of strings as input and returns a new list that contains the same strings in alphabetical order.

In [26]:
L4=input("Enter comma separated List")
L4=L4.split(",")
L4.sort()
print(L4)

Enter comma separated ListJagruti,Sampada,Vedanti,Tejas
['Jagruti', 'Sampada', 'Tejas', 'Vedanti']

- Write a Python program that accepts a list of integers as input and returns a new list that contains only the unique elements of the input list (i.e., no duplicates).

In [62]:
L5=input("Enter comma separated List")
L5=L5.split(",")
temp=[int(i) for i in L5]
L6=[]
while temp!=[]:
    L6.append(temp[0])
    temp.remove(temp[0])

Enter comma separated List1,1,2,3,2,4

In [63]:
L6

[1, 1, 2, 3, 2, 4]