# Tuples

A tuple is a collection of objects which **ordered** and **immutable**. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.
Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also. For example −

In [3]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";
tup3

('a', 'b', 'c', 'd')

In [8]:
tup1 = (); # The empty tuple is written as two parentheses containing nothing −
tup1 = (50,); #To write a tuple containing a single value you have to include a comma, even though there is only one value.
tup1=(60,)
tup1
type(tup1)
#Like string indices, tuple indices start at 0, and they can be sliced, concatenated, and so on.

tuple

## Accessing Values in Tuples

To access values in tuple, use the square brackets for slicing along with the index or indices to obtain value available at that index. For example −

In [14]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7)
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

## Updating Tuples

Tuples are immutable which means you cannot update or change the values of tuple elements. You are able to take portions of existing tuples to create new tuples as the following example demonstrates −

In [25]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# Following action is not valid for tuples
# tup1[0] = 100;  # TypeError: 'tuple' object does not support item assignment

# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print(tup3);

tup4=[1,2]
tup5=[3,2]
tup6=tup4+tup5
print(tup6)

sum(tup4+tup5)

(12, 34.56, 'abc', 'xyz')
[1, 2, 3, 2]

8

## Delete Tuple Elements
Removing individual tuple elements is not possible. There is, of course, nothing wrong with putting together another tuple with the undesired elements discarded.

To explicitly remove an entire tuple, just use the del statement.

In [5]:
tup = ('physics', 'chemistry', 1997, 2000);
print(tup);
del tup;
print("After deleting tup : ")
print(tup);

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

## Basic Tuples Operations
Tuples respond to the + and * operators much like strings; they mean concatenation and repetition here too, except that the result is a new tuple, not a string.

In [28]:
print(len((1, 2, 3)))   # Length
print((1, 2, 3) + (4, 5, 6)) # Concatenation
print(('Hi!',"Hello") * 4) # Repetition
print(3 not in (1, 2, 3)) # Membership
for x in (1, 2, 3):  #Iteration
    print(2*x)

3
(1, 2, 3, 4, 5, 6)
('Hi!', 'Hello', 'Hi!', 'Hello', 'Hi!', 'Hello', 'Hi!', 'Hello')
False
2
4
6

## Indexing, Slicing, and Matrixes
Because tuples are sequences, indexing and slicing work the same way for tuples as they do for strings.

In [29]:
L = ('A', 'B', 'C')
print(L[0:2])
print(L[2])  # Offsets start at zero
print(L[-2]) # Count from the right
print(L[1:]) # Slicing fetches sections

('A', 'B')
C
B
('B', 'C')

## Tuple Function with Description

In [37]:
tup=(3,5,2)
print(len(tup)) # Gives the total length of the tuple.
print(max(tup)) # Returns item from the tuple with max value.
print(min(tup)) # Returns item from the tuple with min value.

seq=[1,2,3]
print(seq)
print(tuple(seq)) # Converts a list into tuple. TypeCast operator

print(int(float("3.2")))
print(list(tup))
print(tup)

3
5
2
[1, 2, 3]
(1, 2, 3)
3
[3, 5, 2]
(3, 5, 2)

# Dictionaries

Each key is separated from its value by a colon (:), the items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this: {}.
Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples.

## Accessing Values in Dictionary

In [43]:
dict = {'Age': 7, 'Class': 'First','Name': 'Zara'}
print(dict)
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])
dict["Name"]

{'Age': 7, 'Class': 'First', 'Name': 'Zara'}
dict['Name']:  Zara
dict['Age']:  7

'Zara'

## Updating Dictionary
You can update a dictionary by adding a new entry or a key-value pair, modifying an existing entry, or deleting an existing entry

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry

print "dict['Age']: ", dict['Age']
print "dict['School']: ", dict['School']

Delete Dictionary Elements
You can either remove individual dictionary elements or clear the entire contents of a dictionary. You can also delete entire dictionary in a single operation.

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name']; # remove entry with key 'Name'
dict.clear();     # remove all entries in dict
del dict ;        # delete entire dictionary

print "dict['Age']: ", dict['Age']
print "dict['School']: ", dict['School']

Properties of Dictionary Keys

(a) More than one entry per key not allowed. Which means no duplicate key is allowed. When duplicate keys encountered during assignment, the last assignment wins.

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Name': 'Manni'}
print "dict['Name']: ", dict['Name']

(b) Keys must be immutable. Which means you can use strings, numbers or tuples as dictionary keys but something like ['key'] is not allowed.

In [ ]:
dict1 = {['Name']: 'Zara', 'Age': 7}
print("dict['Name']: ", dict['Name'])

## Dictionary Functions

In [44]:
dict1 = {'Name': 'Zara', 'Age': 7}
print(len(dict1)) #Gives the total length of the dictionary. This would be equal to the number of items in the dictionary.
print(str(dict1)) #Produces a printable string representation of a dictionary
print(type(dict1)) #Returns the type of the passed variable. If passed variable is dictionary, then it would return a dictionary type.

2
{'Name': 'Zara', 'Age': 7}
<class 'dict'>

## Dictionary Methods

In [45]:
dict1.clear() #Removes all elements of dictionary dict
dict1.copy() #Returns a shallow copy of dictionary dict
# dict1.fromkeys() # Create a new dictionary with keys from seq and values set to value.
#dict1.get(key, default=None)# For key key, returns value or default if key not in dictionary
#dict1.has_key(key)#Returns true if key in dictionary dict, false otherwise
#dict1.items()#Returns a list of dict's (key, value) tuple pairs
#dict1.keys()#Returns list of dictionary dict's keys
#dict1.setdefault(key, default=None)# Similar to get(), but will set dict[key]=default if key is not already in dict
#dict1.update(dict2)# Adds dictionary dict2's key-values pairs to dict
#dict1.values()# Returns list of dictionary dict's values

{}

# Class

In [ ]:
Class Student:
    Name=""
    Age=0
    def marks(*x):
        s1=0
        s1=sum(x)*100
        return(s1)

        
rs=Student("Manoj",35)
rs.Name
rs.Age
rs.marks(23,45,65,68)