In [33]:
def mat(x):
    print("\n",pd.DataFrame(x))

# scikit-learn Package: Machine Learning in Python

## Classification
Identifying which category an object belongs to.

## Regression
Predicting a continuous-valued attribute associated with an object.

## Clustering
Automatic grouping of similar objects into sets. e.g.Customer segmentation, Grouping experiment outcomes

## Dimensionality reduction
Reducing the number of random variables to consider. e.g. PCA and Factor Analysis (FA)

## Model selection
Comparing, validating and choosing parameters and models. Improved accuracy via parameter tuning

## Preprocessing
Feature extraction and normalization. Transforming input data such as text for use with machine learning algorithms.

# Data Preprocessing

In [16]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('Data_Prepro.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [17]:
#pd.DataFrame(dataset)
#pd.DataFrame(X)
#pd.DataFrame(y)

In [18]:
# Taking care of missing data
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:,1:3])
X[:,1:3]=imputer.transform(X[:,1:3])

In [19]:
#help(SimpleImputer)

In [20]:
pd.DataFrame(X)

         0          1             2
0   France       44.0       72000.0
1    Spain       27.0       48000.0
2  Germany       30.0       54000.0
3    Spain       38.0       61000.0
4  Germany       40.0  63777.777778
5   France       35.0       58000.0
6    Spain  38.777778       52000.0
7   France       48.0       79000.0
8  Germany       50.0       83000.0
9   France       37.0       67000.0

In [20]:
#help(SimpleImputer)

In [ ]:
# Encoding categorical data

In [15]:
# Encoding the Independent Variable
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
pd.DataFrame(X)

     0    1    2          3             4
0  1.0  0.0  0.0       44.0       72000.0
1  0.0  0.0  1.0       27.0       48000.0
2  0.0  1.0  0.0       30.0       54000.0
3  0.0  0.0  1.0       38.0       61000.0
4  0.0  1.0  0.0       40.0  63777.777778
5  1.0  0.0  0.0       35.0       58000.0
6  0.0  0.0  1.0  38.777778       52000.0
7  1.0  0.0  0.0       48.0       79000.0
8  0.0  1.0  0.0       50.0       83000.0
9  1.0  0.0  0.0       37.0       67000.0

In [ ]:
# Encoding the Dependent Variable

In [25]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)
print(y)

[0 1 0 0 1 1 0 1 0 1]

In [23]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)
pd.DataFrame(X_train)
pd.DataFrame(X_test)

         0     1        2
0  Germany  30.0  54000.0
1   France  37.0  67000.0

In [38]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, 3:] = sc.fit_transform(X_train[:, 3:])
X_test[:, 3:] = sc.transform(X_test[:, 3:])
mat(X_train)
mat(X_test)

      0    1    2         3         4         5
0  1.0  0.0  0.0  1.290994 -0.191592 -1.078126
1  1.0  0.0  1.0 -0.774597 -0.014117 -0.070132
2  0.0  1.0  0.0 -0.774597  0.566709  0.633562
3  1.0  0.0  0.0  1.290994  -0.30453 -0.307866
4  1.0  0.0  0.0  1.290994 -1.901801 -1.420464
5  0.0  1.0  0.0 -0.774597  1.147534  1.232653
6  1.0  0.0  1.0 -0.774597  1.437947  1.574991
7  0.0  1.0  0.0 -0.774597  -0.74015 -0.564619

      0    1    2         3         4         5
0  1.0  0.0  1.0 -0.774597 -1.466182 -0.906957
1  0.0  1.0  0.0 -0.774597 -0.449737   0.20564

**The fit method is calculating the mean and variance of each of the features present in our data. The transform method is transforming all the features using the respective mean and variance.**