# Logistic Regression

## Importing the libraries

In [1]:
import numpy as np
import pandas as pd

## Importing the dataset

In [3]:
dataset=pd.read_csv("data/Social_Network_Ads.csv")
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [10]:
dataset=dataset.drop(['User ID','Gender'],axis=1)

In [11]:
dataset

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [12]:
x=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]

## Splitting the dataset into the Training set and Test set

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)
x_train.head()

     Age  EstimatedSalary
253   37           146000
58    22            18000
378   41            87000
56    23            48000
143   30            89000

## Feature Scaling

In [15]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)
x_train

array([[-0.0467767 ,  2.26737932],
       [-1.46904122, -1.54384265],
       [ 0.33249384,  0.51064419],
       [-1.37422359, -0.6505875 ],
       [-0.71050014,  0.57019454],
       [ 1.09103492,  0.54041937],
       [-0.71050014, -0.62081233],
       [-1.08977068, -0.53148681],
       [ 0.2376762 ,  0.24266765],
       [-0.99495305, -1.15676542],
       [-1.75349413,  0.45109385],
       [ 0.99621728,  0.59996971],
       [ 1.37548782,  0.59996971],
       [-0.23641197, -0.76968819],
       [ 0.33249384,  0.03424145],
       [ 1.65994073,  1.64210072],
       [ 0.14285857,  1.91007726],
       [ 1.849576  , -1.30564128],
       [ 0.42731147,  0.59996971],
       [ 0.2376762 ,  1.10614763],
       [-1.46904122, -0.4421613 ],
       [-0.61568251, -1.63316816],
       [-1.27940595, -1.2758661 ],
       [ 0.2376762 , -0.38261096],
       [-0.0467767 , -0.50171164],
       [-1.18458832, -1.42474196],
       [-1.65867649,  0.48086902],
       [-0.80531778,  0.15334213],
       [ 1.09103492,  0.57019454],
       [-1.18458832, -1.09721507],
       [ 0.33249384, -0.32306061],
       [-1.65867649,  0.36176834],
       [ 1.94439363, -0.68036267],
       [-0.80531778, -0.79946336],
       [ 0.14285857,  0.15334213],
       [ 1.56512309,  1.1359228 ],
       [-0.23641197, -0.50171164],
       [ 0.42731147,  0.30221799],
       [-1.75349413, -1.51406748],
       [ 1.47030546,  0.06401662],
       [-0.0467767 ,  2.20782898],
       [-1.27940595,  0.57019454],
       [-0.52086487, -1.54384265],
       [ 0.90139965, -0.79946336],
       [ 0.90139965,  1.28479866],
       [ 2.1340289 ,  1.1359228 ],
       [-1.75349413, -1.45451713],
       [ 1.56512309,  0.00446628],
       [-0.42604724, -0.56126199],
       [ 0.04804094,  1.25502348],
       [-1.08977068, -1.60339299],
       [-0.23641197,  0.80839591],
       [ 1.94439363,  0.9274966 ],
       [ 0.52212911,  1.7612014 ],
       [-1.18458832,  0.51064419],
       [-0.23641197,  0.54041937],
       [ 0.14285857, -0.32306061],
       [-0.0467767 , -0.53148681],
       [-0.14159433,  1.43367451],
       [ 0.2376762 ,  0.06401662],
       [ 1.09103492,  0.12356696],
       [ 0.14285857, -0.82923853],
       [-0.90013541, -1.12699025],
       [ 0.80658201,  0.12356696],
       [ 0.14285857,  0.77862074],
       [-0.42604724, -0.8590137 ],
       [ 0.33249384, -0.20395993],
       [ 0.52212911,  1.88030209],
       [-0.99495305,  0.77862074],
       [ 0.80658201, -1.42474196],
       [-1.08977068, -1.57361782],
       [ 1.47030546, -1.0674399 ],
       [-0.23641197, -0.29328544],
       [-0.90013541,  0.42131868],
       [-0.61568251, -1.54384265],
       [-0.14159433, -0.29328544],
       [ 0.42731147, -0.17418475],
       [ 1.65994073, -0.91856404],
       [-1.27940595, -0.35283578],
       [-0.23641197, -1.48429231],
       [-1.08977068, -1.12699025],
       [-0.61568251,  1.43367451],
       [ 0.04804094,  0.03424145],
       [-1.75349413, -1.33541645],
       [ 0.99621728,  2.02917795],
       [ 0.33249384, -0.53148681],
       [-0.61568251, -0.35283578],
       [-1.37422359, -0.11463441],
       [ 0.42731147,  1.1359228 ],
       [ 1.37548782, -0.94833922],
       [ 0.33249384, -0.53148681],
       [ 1.09103492, -1.00788956],
       [-0.80531778, -0.26351027],
       [-0.23641197, -0.35283578],
       [ 0.80658201,  0.27244282],
       [-0.23641197,  0.06401662],
       [-0.0467767 ,  0.24266765],
       [-1.65867649,  0.36176834],
       [ 0.90139965, -0.62081233],
       [-1.18458832,  0.59996971],
       [ 0.80658201, -0.32306061],
       [ 0.14285857, -0.82923853],
       [-0.0467767 , -0.2337351 ],
       [-1.27940595, -1.12699025],
       [ 0.71176438, -1.30564128],
       [ 0.61694674, -0.91856404],
       [-0.3312296 , -1.33541645],
       [ 0.80658201, -0.8590137 ],
       [-0.14159433, -0.59103716],
       [-1.56385886,  0.54041937],
       [ 1.18585255,  0.54041937],
       [-1.46904122, -1.2758661 ],
       [ 0.99621728,  1.82075175],
       [-0.99495305,  0.42131868],
       [ 1.18585255, -0.76968819],
       [-0.14159433,  2.20782898],
       [ 2.03921127,  1.79097657],
       [ 1.28067019,  1.91007726],
       [-0.0467767 ,  0.15334213],
       [ 0.80658201,  1.40389934],
       [-0.90013541,  0.51064419],
       [ 0.33249384,  0.27244282],
       [ 0.14285857,  0.03424145],
       [-1.84831176, -0.76968819],
       [-0.23641197, -1.39496679],
       [-1.46904122, -0.20395993],
       [-0.23641197,  0.21289248],
       [-1.56385886,  0.06401662],
       [-0.71050014,  1.37412417],
       [-0.52086487,  2.38648001],
       [-0.80531778,  0.39154351],
       [-1.27940595, -0.4421613 ],
       [-0.23641197, -0.59103716],
       [ 0.04804094, -0.4421613 ],
       [-0.23641197,  0.06401662],
       [ 1.37548782,  2.02917795],
       [ 0.42731147, -0.47193647],
       [ 0.04804094,  0.30221799],
       [-0.99495305,  0.54041937],
       [ 1.28067019, -1.39496679],
       [ 0.42731147,  1.01682211],
       [ 0.42731147, -0.14440958],
       [ 0.04804094, -0.32306061],
       [-0.23641197, -0.91856404],
       [ 0.14285857,  1.91007726],
       [ 1.75475836, -0.29328544],
       [-0.23641197, -1.42474196],
       [-0.0467767 ,  0.06401662],
       [-0.90013541,  0.45109385],
       [-1.65867649,  0.12356696],
       [-1.65867649, -1.00788956],
       [ 0.99621728,  0.77862074],
       [-0.23641197, -0.26351027],
       [ 0.2376762 ,  0.15334213],
       [-1.46904122,  0.33199316],
       [-0.52086487,  0.48086902],
       [-0.90013541,  1.58255037],
       [ 1.18585255, -1.00788956],
       [ 1.75475836,  1.01682211],
       [-0.3312296 , -0.79946336],
       [ 0.2376762 , -0.26351027],
       [ 0.33249384,  0.06401662],
       [ 0.33249384, -0.73991302],
       [-0.80531778,  0.30221799],
       [-0.23641197, -0.68036267],
       [ 0.99621728,  0.12356696],
       [ 1.09103492, -1.24609093],
       [-0.23641197, -0.32306061],
       [-1.56385886, -1.60339299],
       [-1.18458832,  0.27244282],
       [-1.27940595, -0.4421613 ],
       [-0.23641197, -0.94833922],
       [ 0.14285857,  0.21289248],
       [-1.37422359, -1.48429231],
       [ 0.42731147, -0.50171164],
       [-0.71050014, -1.57361782],
       [ 2.1340289 ,  0.95727177],
       [-1.08977068, -1.63316816],
       [-1.75349413, -1.30564128],
       [ 0.99621728, -1.21631576],
       [-0.23641197,  0.03424145],
       [ 0.33249384,  0.06401662],
       [-0.52086487,  0.89772142],
       [ 2.03921127,  0.39154351],
       [ 2.03921127,  0.18311731],
       [-0.52086487,  1.40389934],
       [ 1.09103492,  2.11850346],
       [-0.3312296 , -0.79946336],
       [-0.23641197, -0.59103716],
       [-0.42604724, -1.15676542],
       [-0.52086487,  1.40389934],
       [-0.61568251,  0.18311731],
       [-0.71050014,  0.51064419],
       [-0.90013541, -0.32306061],
       [ 2.1340289 , -0.82923853],
       [-0.61568251, -0.05508407],
       [ 0.04804094,  1.28479866],
       [ 0.99621728, -0.8590137 ],
       [ 1.849576  ,  1.5527752 ],
       [-1.08977068,  0.42131868],
       [ 0.33249384,  0.06401662],
       [-0.80531778,  0.39154351],
       [-0.0467767 , -1.09721507],
       [-0.23641197, -0.14440958],
       [-0.14159433, -0.53148681],
       [-0.99495305, -0.35283578],
       [ 0.90139965, -1.0674399 ],
       [ 0.71176438, -0.73991302],
       [ 0.42731147,  0.27244282],
       [-0.23641197, -0.4421613 ],
       [-1.84831176,  0.36176834],
       [ 0.61694674,  2.05895312],
       [ 0.14285857,  0.27244282],
       [ 0.04804094, -0.56126199],
       [-1.08977068, -1.18654059],
       [-0.14159433,  1.67187589],
       [ 0.99621728, -1.09721507],
       [-1.75349413,  0.00446628],
       [ 2.03921127, -1.21631576],
       [-0.23641197,  0.09379179],
       [ 0.2376762 , -0.32306061],
       [ 0.04804094, -0.59103716],
       [-1.18458832,  0.30221799],
       [-0.23641197,  1.1359228 ],
       [ 0.42731147,  2.35670483],
       [ 2.03921127,  0.54041937],
       [-0.52086487, -1.54384265],
       [ 0.99621728,  1.91007726],
       [ 0.80658201,  0.54041937],
       [-0.99495305, -0.38261096],
       [-0.14159433,  1.64210072],
       [-0.71050014,  1.10614763],
       [ 0.04804094, -0.26351027],
       [ 2.1340289 , -0.71013784],
       [-0.23641197, -1.2758661 ],
       [ 1.37548782, -1.45451713],
       [-0.99495305, -0.35283578],
       [-1.56385886, -0.05508407],
       [-0.23641197,  0.27244282],
       [-0.0467767 , -0.4421613 ],
       [-0.0467767 ,  0.27244282],
       [ 0.71176438, -1.42474196],
       [-1.27940595,  0.42131868],
       [ 0.99621728, -1.03766473],
       [ 0.42731147, -0.14440958],
       [-1.27940595, -1.51406748],
       [-0.14159433, -0.20395993],
       [ 1.65994073,  1.79097657],
       [-0.42604724, -1.24609093],
       [-0.0467767 ,  0.30221799],
       [-0.14159433,  0.15334213],
       [-0.52086487,  1.93985243],
       [ 1.75475836,  1.88030209],
       [ 1.47030546,  0.36176834],
       [-0.42604724, -0.0253089 ],
       [-0.80531778,  2.32692966],
       [ 1.47030546,  1.01682211],
       [ 0.52212911,  1.25502348],
       [-0.0467767 ,  0.12356696],
       [-1.08977068,  0.06401662],
       [ 0.14285857, -0.26351027],
       [ 0.04804094,  0.03424145],
       [-0.14159433, -0.47193647],
       [ 0.33249384, -1.18654059],
       [ 0.80658201,  0.77862074],
       [ 1.47030546,  2.1780538 ],
       [ 1.94439363, -1.39496679],
       [-0.71050014, -1.63316816],
       [ 0.90139965,  1.10614763],
       [ 1.94439363,  0.74884557],
       [ 0.99621728, -1.18654059],
       [-0.42604724, -0.29328544],
       [-1.08977068,  0.33199316],
       [-0.42604724,  1.28479866],
       [-0.90013541, -0.4421613 ],
       [-0.0467767 ,  1.99940278],
       [ 0.04804094, -0.26351027],
       [ 1.94439363, -0.94833922],
       [ 0.33249384, -0.56126199],
       [ 2.1340289 , -0.82923853],
       [ 1.09103492, -0.91856404],
       [-1.08977068,  0.30221799],
       [-0.71050014,  0.27244282],
       [-1.65867649, -0.62081233],
       [ 0.33249384,  0.30221799],
       [ 0.90139965, -0.56126199],
       [-1.08977068,  1.43367451],
       [ 0.80658201, -1.12699025],
       [ 0.71176438,  1.82075175],
       [-1.27940595, -1.39496679],
       [-0.23641197,  0.62974488],
       [-0.90013541, -0.32306061],
       [-1.84831176,  0.48086902],
       [ 0.14285857,  1.5527752 ],
       [-0.0467767 ,  0.21289248],
       [ 1.849576  , -0.29328544],
       [ 0.2376762 ,  0.03424145],
       [ 0.90139965, -1.18654059],
       [ 1.37548782,  2.38648001],
       [-0.99495305, -0.47193647]])

## Training the Logistic Regression model on the Training set

In [16]:
from sklearn.linear_model import LogisticRegression
LRclassifier=LogisticRegression()

LRclassifier.fit(x_train,y_train)

LogisticRegression()

## Predicting a new result

In [24]:
print(LRclassifier.predict(scaler.transform([[0,0]])))

[0]

## Predicting the Test set results

In [25]:
y_pred=LRclassifier.predict(x_test)
y_pred

array([1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0], dtype=int64)

In [26]:
y_test

207    0
354    1
369    1
336    1
273    1
      ..
10     0
298    0
111    0
371    1
93     0
Name: Purchased, Length: 100, dtype: int64

## Making the Confusion Matrix

In [27]:
from sklearn.metrics import confusion_matrix, accuracy_score
confusion_matrix(y_test,y_pred)

array([[55,  9],
       [18, 18]], dtype=int64)

In [28]:
accuracy_score(y_test,y_pred)

0.73