Write a Python function to calculate the mean and standard deviation of a numerical column in a
Pandas DataFrame.

In [14]:
import pandas as pd
import numpy as np
data={'name':['Harshal','Ishwar','Gayatri','Harshada'],'Age':[22,23,21,22]}
df=pd.DataFrame(data)
def calculate_mean_std(df, column_name):

  mean = df[column_name].mean()
  std_dev = df[column_name].std()

  return mean, std_dev

calculate_mean_std(df,'Age')

(22.0, 0.816496580927726)

Develop a program to read a CSV file containing sales data into a Pandas DataFrame and calculate the total sales amount for each product

Create a Pandas DataFrame with columns ’Height’ and ’Weight’. Write a function to calculate the BMI (Body Mass Index) for each individual.

In [22]:
data1={'Name':['Jayesh','Rajesh','Mukesh','Prajakta','Manikarnika','Anjali'],
       'Height':[165,170,169,142,160,155],
       'Weight':[60,75,68,43,55,50]}

df1=pd.DataFrame(data1)
print(df1)

def BMI_calculator(dataframe, height, weight):
   
    dataframe['height_m'] = dataframe[height] / 100
    dataframe['BMI'] = dataframe[weight] / (dataframe['height_m'] ** 2)

    return dataframe

result = BMI_calculator(df1, 'Height', 'Weight')
print(result)

          Name  Height  Weight
0       Jayesh     165      60
1       Rajesh     170      75
2       Mukesh     169      68
3     Prajakta     142      43
4  Manikarnika     160      55
5       Anjali     155      50
          Name  Height  Weight  height_m        BMI
0       Jayesh     165      60      1.65  22.038567
1       Rajesh     170      75      1.70  25.951557
2       Mukesh     169      68      1.69  23.808690
3     Prajakta     142      43      1.42  21.325134
4  Manikarnika     160      55      1.60  21.484375
5       Anjali     155      50      1.55  20.811655

          Name  Height  Weight
0       Jayesh     165      60
1       Rajesh     170      75
2       Mukesh     169      68
3     Prajakta     162      43
4  Manikarnika     160      55
5       Anjali     155      50
          Name  Height  Weight  height_m        BMI
0       Jayesh     165      60      1.65  22.038567
1       Rajesh     170      75      1.70  25.951557
2       Mukesh     169      68      1.69  23.808690
3     Prajakta     162      43      1.62  16.384697
4  Manikarnika     160      55      1.60  21.484375
5       Anjali     155      50      1.55  20.811655