

#### b. Remove Duplicates from List and Convert to Set

In [ ]:

def remove_duplicates_and_convert_to_set(input_list):
    unique_set = set(input_list)
    return unique_set

# Example usage:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = remove_duplicates_and_convert_to_set(original_list)
print(unique_set)