

### 2. Tuple Operations

#### a. Sort Tuple Alphabetically

In [ ]:

def sort_tuple_alphabetically(input_tuple):
    sorted_tuple = tuple(sorted(input_tuple))
    print(sorted_tuple)

# Example usage:
string_tuple = ('banana', 'apple', 'orange', 'grape')
sort_tuple_alphabetically(string_tuple)