# Python File Handling

File operation can be done in the following order.

- Open a file

- Read or write - Performing operation

- Close the file

# Opening a file

Python provides an `open()` function that accepts two arguments, file name and access mode in which the file is accessed. The function returns a file object which can be used to perform various operations like reading, writing, etc.

Syntax:

`file object = open(<file-name>, <access-mode>, <buffering>)`

|SN	| Access mode |	Description |
| :- | -: | :-: |
|1|	r|	to read-only mode. The file is by default open in this mode if no access mode is passed. |
|2|	rb|	to read-only in binary format. |
|3|	r+|	to read and write both. |
|4|	rb+|	to read and write both in binary format. |
|5|	w|	to write only. It overwrites the file if previously exists or creates a new one if no file exists with the same name.  |
|6|	wb|	to write only in binary format. It overwrites the file if it exists previously or creates a new one if no file exists.  |
|7|	w+|	to write and read both. It is different from r+ in the sense that it overwrites the previous file if one exists whereas r+ doesn't overwrite the previously written file. It creates a new file if no file exists.  |
|8|	wb+|	to write and read both in binary format. |
|9|	a|	in the append mode. The file pointer exists at the end of the previously written file if exists any. It creates a new file if no file exists with the same name. |
|10|	ab|	in the append mode in binary format. The pointer exists at the end of the previously written file. It creates a new file in binary format if no file exists with the same name. |
|11|	a+|	to append and read both. The file pointer remains at the end of the file if a file exists. It creates a new file if no file exists with the same name. |
|12|	ab+|	to append and read both in binary format. The file pointer remains at the end of the file. |

In [5]:
# opens the file file.txt in read mode    
fileptr = open("file.txt","r")    
    
if fileptr:    
    print("file is opened successfully")

file is opened successfully

In the above code, we have passed filename as a first argument and opened file in read mode as we mentioned r as the second argument. The fileptr holds the file object and if the file is opened successfully, it will execute the print statement.

# close() method

Once all the operations are done on the file, we must close it through our Python script using the close() method. Any unwritten information gets destroyed once the close() method is called on a file object.

We can perform any operation on the file externally using the file system which is the currently opened in Python; hence it is good practice to close the file once all the operations are done.

In [6]:
# opens the file file.txt in read mode    
fileptr = open("file.txt","r")    
    
if fileptr:    
    print("file is opened successfully")    
    
#closes the opened file    
fileptr.close()

file is opened successfully

# with statement

The with statement is useful in the case of manipulating the files. It is used in the scenario where a pair of statements is to be executed with a block of code in between.

The syntax to open a file using with the statement is given below.

In [7]:
# with open(< file name >, < access mode >) as < file-pointer >:    
with open("file.txt",'r') as f:    
    content = f.read();    
    print(content)

a b c

# Writing the file
To write some text to a file, we need to open the file using the open method with one of the following access modes.

__w__ : It will overwrite the file if any file exists. The file pointer is at the beginning of the file.

__a__ : It will append the existing file. The file pointer is at the end of the file. It creates a new file if no file exists.

In [11]:
# open the file.txt in append mode. Create a new file if no such file exists.  
fileptr = open("file2.txt", "w")  
  
# appending the content to the file  
fileptr.write('''Python is the modern day language. It makes things so simple. 
It is the fastest-growing programing language.\n''')  
  
# closing the opened the file  
fileptr.close()

We have opened the file in w mode. The file2.txt file doesn't exist, it created a new file and we have written the content in the file using the write() function.

In [12]:
#open the file.txt in write mode.    
fileptr = open("file2.txt","a")  
    
#overwriting the content of the file    
fileptr.write("Python has an easy syntax and user-friendly interaction.\n")    

fileptr.write('''We have opened the file in w mode. The file2.txt file doesn't exist, it created a new file and we have written the content in the file using the write() function.\n''')
      
#closing the opened file     
fileptr.close()

# Reading file

To read a file using the Python script, the Python provides the read() method. The read() method reads a string from the file. It can read the data in the text as well as a binary format.

In [19]:
# open the file.txt in read mode. causes error if no such file exists.    
fileptr = open("file2.txt","r")  

# stores all the data of the file into the variable content    
content = fileptr.read(35)   

# prints the type of the data stored in the file    
print("Type of the content : ",type(content))      

# prints the content of the file    
print("Content : ",content)       

# closes the opened file    
fileptr.close()

Type of the content :  <class 'str'>
Content :  Python is the modern day language.

# Read file through for loop

In [20]:
#open the file.txt in read mode. causes an error if no such file exists.    
fileptr = open("file2.txt","r");     
#running a for loop     
for i in fileptr:    
    print(i) # i contains each line of the file

Python is the modern day language. It makes things so simple.

It is the fastest-growing programing language.

Python has an easy syntax and user-friendly interaction.

We have opened the file in w mode. The file2.txt file doesn't exist, it created a new file and we have written the content in the file using the write() function.

# Reading lines using `readline()` function

In [22]:
#open the file.txt in read mode. causes error if no such file exists.    
fileptr = open("file2.txt","r");     
#stores all the data of the file into the variable content    
content1 = fileptr.readline()     
content2 = fileptr.readline()  
content3 = fileptr.readline()     
content4 = fileptr.readline()  
content5 = fileptr.readline()     
content6 = fileptr.readline()  

#prints the content of the file    
print("Content 1 : ",content1)     
print("Content 2 : ",content2)
print("Content 3 : ",content3)     
print("Content 4 : ",content4)
print("Content 5 : ",content5)     
print("Content 6 : ",content6)

#closes the opened file    
fileptr.close()

Content 1 :  Python is the modern day language. It makes things so simple.

Content 2 :  It is the fastest-growing programing language.

Content 3 :  Python has an easy syntax and user-friendly interaction.

Content 4 :  We have opened the file in w mode. The file2.txt file doesn't exist, it created a new file and we have written the content in the file using the write() function.

Content 5 :
Content 6 :

In [26]:
#open the file.txt in read mode. causes error if no such file exists.    
fileptr = open("file2.txt","r");     

#stores all the data of the file into the variable content    
content_all = fileptr.readlines()  

#prints the content of the file    
print("Content   : ",content_all)
print("\nContent   : ",content_all[3])

#closes the opened file    
fileptr.close()

Content   :  ['Python is the modern day language. It makes things so simple. \n', 'It is the fastest-growing programing language.\n', 'Python has an easy syntax and user-friendly interaction.\n', "We have opened the file in w mode. The file2.txt file doesn't exist, it created a new file and we have written the content in the file using the write() function.\n"]

Content   :  We have opened the file in w mode. The file2.txt file doesn't exist, it created a new file and we have written the content in the file using the write() function.

# Python OS module
## Renaming the file

In [30]:
import os    
    
# rename file2.txt to file3.txt    
os.rename("file2.txt","file3.txt")

## Removing the file

In [31]:
#deleting the file named file3.txt     
os.remove("file3.txt")

## Creating the new directory

The `mkdir()` method is used to create the directories in the current working directory.

In [36]:
#creating a new directory with the name new    
#os.mkdir("new")    
fileptr=open("new\\file.txt","w")
fileptr.close()

## `getcwd()` method

In [40]:
os.getcwd()

'D:\\PythonDemo\\PythonDemo'

## Changing the current working directory

In [41]:
# Changing current directory with the new directiory  
os.chdir("D:\\PythonDemo\\Linear-Algebra\\Activity 03")  
#It will display the current working directory  
os.getcwd()

'D:\\PythonDemo\\Linear-Algebra\\Activity 03'

In [42]:
os.chdir("D:\\PythonDemo\\PythonDemo")

## Deleting directory

In [45]:
#removing the new directory     
#os.remove("new\\file.txt")
os.rmdir("new")

# Dealing with files using Pandas

In [46]:
data = {
    'CHN': {'COUNTRY': 'China', 'POP': 1_398.72, 'AREA': 9_596.96,
            'GDP': 12_234.78, 'CONT': 'Asia'},
    'IND': {'COUNTRY': 'India', 'POP': 1_351.16, 'AREA': 3_287.26,
            'GDP': 2_575.67, 'CONT': 'Asia', 'IND_DAY': '1947-08-15'},
    'USA': {'COUNTRY': 'US', 'POP': 329.74, 'AREA': 9_833.52,
            'GDP': 19_485.39, 'CONT': 'N.America',
            'IND_DAY': '1776-07-04'},
    'IDN': {'COUNTRY': 'Indonesia', 'POP': 268.07, 'AREA': 1_910.93,
            'GDP': 1_015.54, 'CONT': 'Asia', 'IND_DAY': '1945-08-17'},
    'BRA': {'COUNTRY': 'Brazil', 'POP': 210.32, 'AREA': 8_515.77,
            'GDP': 2_055.51, 'CONT': 'S.America', 'IND_DAY': '1822-09-07'},
    'PAK': {'COUNTRY': 'Pakistan', 'POP': 205.71, 'AREA': 881.91,
            'GDP': 302.14, 'CONT': 'Asia', 'IND_DAY': '1947-08-14'},
    'NGA': {'COUNTRY': 'Nigeria', 'POP': 200.96, 'AREA': 923.77,
            'GDP': 375.77, 'CONT': 'Africa', 'IND_DAY': '1960-10-01'},
    'BGD': {'COUNTRY': 'Bangladesh', 'POP': 167.09, 'AREA': 147.57,
            'GDP': 245.63, 'CONT': 'Asia', 'IND_DAY': '1971-03-26'},
    'RUS': {'COUNTRY': 'Russia', 'POP': 146.79, 'AREA': 17_098.25,
            'GDP': 1_530.75, 'IND_DAY': '1992-06-12'},
    'MEX': {'COUNTRY': 'Mexico', 'POP': 126.58, 'AREA': 1_964.38,
            'GDP': 1_158.23, 'CONT': 'N.America', 'IND_DAY': '1810-09-16'},
    'JPN': {'COUNTRY': 'Japan', 'POP': 126.22, 'AREA': 377.97,
            'GDP': 4_872.42, 'CONT': 'Asia'},
    'DEU': {'COUNTRY': 'Germany', 'POP': 83.02, 'AREA': 357.11,
            'GDP': 3_693.20, 'CONT': 'Europe'},
    'FRA': {'COUNTRY': 'France', 'POP': 67.02, 'AREA': 640.68,
            'GDP': 2_582.49, 'CONT': 'Europe', 'IND_DAY': '1789-07-14'},
    'GBR': {'COUNTRY': 'UK', 'POP': 66.44, 'AREA': 242.50,
            'GDP': 2_631.23, 'CONT': 'Europe'},
    'ITA': {'COUNTRY': 'Italy', 'POP': 60.36, 'AREA': 301.34,
            'GDP': 1_943.84, 'CONT': 'Europe'},
    'ARG': {'COUNTRY': 'Argentina', 'POP': 44.94, 'AREA': 2_780.40,
            'GDP': 637.49, 'CONT': 'S.America', 'IND_DAY': '1816-07-09'},
    'DZA': {'COUNTRY': 'Algeria', 'POP': 43.38, 'AREA': 2_381.74,
            'GDP': 167.56, 'CONT': 'Africa', 'IND_DAY': '1962-07-05'},
    'CAN': {'COUNTRY': 'Canada', 'POP': 37.59, 'AREA': 9_984.67,
            'GDP': 1_647.12, 'CONT': 'N.America', 'IND_DAY': '1867-07-01'},
    'AUS': {'COUNTRY': 'Australia', 'POP': 25.47, 'AREA': 7_692.02,
            'GDP': 1_408.68, 'CONT': 'Oceania'},
    'KAZ': {'COUNTRY': 'Kazakhstan', 'POP': 18.53, 'AREA': 2_724.90,
            'GDP': 159.41, 'CONT': 'Asia', 'IND_DAY': '1991-12-16'}
}

In [48]:
import pandas as pd
df = pd.DataFrame(data=data).T
df

        COUNTRY      POP      AREA       GDP       CONT     IND_DAY
CHN       China  1398.72   9596.96  12234.78       Asia         NaN
IND       India  1351.16   3287.26   2575.67       Asia  1947-08-15
USA          US   329.74   9833.52  19485.39  N.America  1776-07-04
IDN   Indonesia   268.07   1910.93   1015.54       Asia  1945-08-17
BRA      Brazil   210.32   8515.77   2055.51  S.America  1822-09-07
PAK    Pakistan   205.71    881.91    302.14       Asia  1947-08-14
NGA     Nigeria   200.96    923.77    375.77     Africa  1960-10-01
BGD  Bangladesh   167.09    147.57    245.63       Asia  1971-03-26
RUS      Russia   146.79  17098.25   1530.75        NaN  1992-06-12
MEX      Mexico   126.58   1964.38   1158.23  N.America  1810-09-16
JPN       Japan   126.22    377.97   4872.42       Asia         NaN
DEU     Germany    83.02    357.11    3693.2     Europe         NaN
FRA      France    67.02    640.68   2582.49     Europe  1789-07-14
GBR          UK    66.44     242.5   2631.23     Europe         NaN
ITA       Italy    60.36    301.34   1943.84     Europe         NaN
ARG   Argentina    44.94    2780.4    637.49  S.America  1816-07-09
DZA     Algeria    43.38   2381.74    167.56     Africa  1962-07-05
CAN      Canada    37.59   9984.67   1647.12  N.America  1867-07-01
AUS   Australia    25.47   7692.02   1408.68    Oceania         NaN
KAZ  Kazakhstan    18.53    2724.9    159.41       Asia  1991-12-16

## Write a CSV File

You can save your Pandas DataFrame as a CSV file with `.to_csv()`:

In [49]:
df.to_csv('data1.csv')

## Read a CSV File
Once your data is saved in a CSV file, you’ll likely want to load and use it from time to time. You can do that with the Pandas read_csv() function:

In [50]:
df = pd.read_csv('data1.csv', index_col=0)
df.head

<bound method NDFrame.head of         COUNTRY      POP      AREA       GDP       CONT     IND_DAY
CHN       China  1398.72   9596.96  12234.78       Asia         NaN
IND       India  1351.16   3287.26   2575.67       Asia  1947-08-15
USA          US   329.74   9833.52  19485.39  N.America  1776-07-04
IDN   Indonesia   268.07   1910.93   1015.54       Asia  1945-08-17
BRA      Brazil   210.32   8515.77   2055.51  S.America  1822-09-07
PAK    Pakistan   205.71    881.91    302.14       Asia  1947-08-14
NGA     Nigeria   200.96    923.77    375.77     Africa  1960-10-01
BGD  Bangladesh   167.09    147.57    245.63       Asia  1971-03-26
RUS      Russia   146.79  17098.25   1530.75        NaN  1992-06-12
MEX      Mexico   126.58   1964.38   1158.23  N.America  1810-09-16
JPN       Japan   126.22    377.97   4872.42       Asia         NaN
DEU     Germany    83.02    357.11   3693.20     Europe         NaN
FRA      France    67.02    640.68   2582.49     Europe  1789-07-14
GBR          UK    66.44    242.50   2631.23     Europe         NaN
ITA       Italy    60.36    301.34   1943.84     Europe         NaN
ARG   Argentina    44.94   2780.40    637.49  S.America  1816-07-09
DZA     Algeria    43.38   2381.74    167.56     Africa  1962-07-05
CAN      Canada    37.59   9984.67   1647.12  N.America  1867-07-01
AUS   Australia    25.47   7692.02   1408.68    Oceania         NaN
KAZ  Kazakhstan    18.53   2724.90    159.41       Asia  1991-12-16>

# Using Pandas to Write and Read Excel Files
Microsoft Excel is probably the most widely-used spreadsheet software. While older versions used binary .xls files, Excel 2007 introduced the new XML-based .xlsx file. You can read and write Excel files in Pandas, similar to CSV files. However, you’ll need to install the following Python packages first:

- `xlwt` to write to .xls files
- `openpyxl` or `XlsxWriter` to write to .xlsx files
- `xlrd` to read Excel files

You can install them using pip with a single command:

In [ ]:
# !pip install xlwt openpyxl xlsxwriter xlrd

## Write an Excel File
Once you have those packages installed, you can save your DataFrame in an Excel file with `.to_excel()`:

In [51]:
df.to_excel('data1.xlsx')

## Read an Excel File
You can load data from Excel files with read_excel():

In [53]:
df2 = pd.read_excel('data1.xlsx', index_col=0)
df2

        COUNTRY      POP      AREA       GDP       CONT     IND_DAY
CHN       China  1398.72   9596.96  12234.78       Asia         NaN
IND       India  1351.16   3287.26   2575.67       Asia  1947-08-15
USA          US   329.74   9833.52  19485.39  N.America  1776-07-04
IDN   Indonesia   268.07   1910.93   1015.54       Asia  1945-08-17
BRA      Brazil   210.32   8515.77   2055.51  S.America  1822-09-07
PAK    Pakistan   205.71    881.91    302.14       Asia  1947-08-14
NGA     Nigeria   200.96    923.77    375.77     Africa  1960-10-01
BGD  Bangladesh   167.09    147.57    245.63       Asia  1971-03-26
RUS      Russia   146.79  17098.25   1530.75        NaN  1992-06-12
MEX      Mexico   126.58   1964.38   1158.23  N.America  1810-09-16
JPN       Japan   126.22    377.97   4872.42       Asia         NaN
DEU     Germany    83.02    357.11   3693.20     Europe         NaN
FRA      France    67.02    640.68   2582.49     Europe  1789-07-14
GBR          UK    66.44    242.50   2631.23     Europe         NaN
ITA       Italy    60.36    301.34   1943.84     Europe         NaN
ARG   Argentina    44.94   2780.40    637.49  S.America  1816-07-09
DZA     Algeria    43.38   2381.74    167.56     Africa  1962-07-05
CAN      Canada    37.59   9984.67   1647.12  N.America  1867-07-01
AUS   Australia    25.47   7692.02   1408.68    Oceania         NaN
KAZ  Kazakhstan    18.53   2724.90    159.41       Asia  1991-12-16

## Write Files
Series and DataFrame objects have methods that enable writing data and labels to the clipboard or files. They’re named with the pattern `.to_<file-type>()`, where `<file-type>` is the type of the target file.

You’ve learned about `.to_csv()` and `.to_excel()`, but there are others, including:

- `.to_json()`
- `.to_html()`
- `.to_sql()`
- `.to_pickle()`

## Read Files
Pandas functions for reading the contents of files are named using the pattern `.read_<file-type>()`, where `<file-type>` indicates the type of the file to read. You’ve already seen the Pandas `read_csv()` and `read_excel()` functions. Here are a few others:

- `read_json()`
- `read_html()`
- `read_sql()`
- `read_pickle()`

## For more details please refer https://realpython.com/pandas-read-write-files/

# <Center> Thank You